@model IEnumerable<BENEFICALIGHT.Models.Especializacao>

@{
	ViewData["Title"] = "Especialização";
}
<div class="w-100 justify-content-center" style="min-height:100vh;">
	<div class="justify-content-center text-center">
		<p class="text-center display-1">Especialização</p>
		<p class="fw-bolder text-center" style="letter-spacing:3px">Encontre sua especialização</p>
		<p class="btn-outline-success" style="">
			<a class="text-decoration-none btn" asp-action="Create">Cadastrar</a>
		</p>

	</div>
	<table class="table table-success table-stripped rounded-4">
		<thead>
			<tr>
				<th class="rounded-top-4 rounded-end-0">
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th class="rounded-top-4 rounded-start-0"></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.EspecializacaoId">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.EspecializacaoId">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.EspecializacaoId">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>